.new-btn{
    border-radius: 23px;
    --bs-btn-color: #000;
    --bs-btn-border-color: #000;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f9c745;
    --bs-btn-hover-border-color: #f9c745;
    --bs-btn-focus-shadow-rgb: 249, 199, 69;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f9c745;
    --bs-btn-active-border-color: #f9c745;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f9c745;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f9c745;
    --bs-gradient: none;
}